$blue: #6cbcd0;
$rgba-blue: rgba(108, 188, 208, 0.5);
$light-blue: #a0d3e0;
$yellow: #eab90f;
$pink: #b22d5f;
$rgba-pink: rgba(178, 45, 95, 0.75);
$timetable-pink: #bb5578;
$light-grey: #f0f0f0;
$grey: #a2a2a2;
$dark-grey: #696969;
$black-grey: #252525;
