.contact-map {
	vertical-align: top;
	box-sizing: border-box;
	height: 43em;
	width: 100%;
	max-width: 47em;
	padding: 0 1.5em;
	margin: 0 0 3em;
}

.contact-form {
	max-width: 23em;
	& label {
		display: block;
		margin: 1em 0 0.3em;
	}
	& input.text, & textarea {
		font-size: 1em;
		font-family: inherit;
		width: 100% !important;
		box-sizing: border-box;
	}
	& input[type="submit"] {
		@extend .footer-newsletter-submit;
		float: right;
		margin-bottom: 0 !important;
	}
	& #recaptcha_widget_div {
		padding-top: 0.5em;
	}
}
