$footer-font-size: 1.4;

.footer {
	font-size: 1em * $footer-font-size;
	color: $grey;
	background-color: $black-grey;
	margin-top: 2.5em / $footer-font-size;
	padding-top: 5.5em / $footer-font-size;
}

.footer-inner {
	box-sizing: border-box;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 1.5em / $footer-font-size;
}

.footer-item {
	$footer-item-width: 27em / $footer-font-size;
	width: $footer-item-width;
	display: inline-block;
	vertical-align: top;
	margin: 0 1.5em / $footer-font-size 5.5em / $footer-font-size;
}

.footer-item-title {
	margin: 0 0 1em;
	font-size: 1em;
	font-weight: bold;
}

.footer-item-content {
	white-space: pre-line;
}

/* social media */
.footer-item-media-items {
	margin: 0;
	padding: 0;
}

.footer-item-media-item {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	&:not(:last-child) {
		margin-right: 1em / $footer-font-size;
	}
	& a {
		display: block;
		width: 5em / $footer-font-size;
		height: 5em / $footer-font-size;
		background-image: url("img/media.png");
		background-size: 15em / $footer-font-size;
	}
	&-fb a {
		background-position: 0 0;
		&:hover {
			background-position: 0 -5em / $footer-font-size;
		};
	}
	&-gp a {
		background-position: -5em / $footer-font-size 0;
		&:hover {
			background-position: -5em / $footer-font-size -5em / $footer-font-size;
		};
	}
	&-yt a {
		background-position: -10em / $footer-font-size 0;
		&:hover {
			background-position: -10em / $footer-font-size -5em / $footer-font-size;
		};
	}
}

/* newsletter */
.footer-newsletter-input {
	font-size: 1em;
	width: 20em / $footer-font-size;
	padding: 0.5em;
	border: 0;
	box-sizing: border-box;
	margin-top: 0.4em;
}

.footer-newsletter-submit {
	font-size: 1em;
	color: #fff;
	background: $grey;
	width: 7em / $footer-font-size;
	padding: 0.5em;
	border: 0;
	margin-left: 13em / $footer-font-size;
	margin-top: 0.2em;
	&:hover {
		background-color: $pink;
	};
}

/* partners */
.footer-item-partners-title {
	padding-left: 1.5em / $footer-font-size ;
}

.footer-item-partners-items {
	margin: 0;
	padding: 0;
}

.footer-item-partners-item {
	padding: 0 1.5em / $footer-font-size;
	margin-bottom: 5.5em / $footer-font-size;
	list-style: none;
	display: inline-block;
	vertical-align: bottom;
	& img {
		display: block;
		padding-top: 0.2em / $footer-font-size;
		border-top: 0.7em / $footer-font-size solid $grey;
		width: 17em / $footer-font-size;
		&:hover {
			border-top-color: $yellow;
		};
	}
}
