/* header */
.header {
	background-color: $blue;
	margin-top: 2.5em;
}

.header-inner {
	max-width: 1170px;
	margin: 0 auto 3em;
	padding: 0 1.5em;
	font-size: 2em;
	&:after {
		content: "";
		display: block;
		clear: right;
	}
}

.header-logo {
	float: left;
	height: 4.5em;
	margin-top: -1em;
}

/* menu */
.menu,
.sub-menu {
	float: right;
	margin: 0;
	padding: 0;
	& li {
		display: inline-block;
		position: relative;
		&:hover ul {
			visibility: visible;
		}
	}
	& a {
		color: #fff;
		line-height: 1.5em;
		text-decoration: none;
		display: inline-block;
		padding: 0.5em 0.55em;
	}
}

.sub-menu {
	visibility: hidden;
	float: none; /* overwriting */
	position: absolute;
	background-color: $light-blue;
	right: 0;
	& li {
		display: block;
		text-align: right;
		white-space: nowrap;
		border-top: 1px solid #fff;
	}
	& a {
		padding-left: 0.95em;
		display: block;
	}
}

.menu > li {
	& > a:hover,
	&.current_page_item > a,
	&.current_page_parent > a {
		padding-bottom: 0.15em;
		border-bottom: 0.35em solid $yellow;
	}
}

.sub-menu li {
	& > a:hover,
	&.current_page_item > a {
		padding-left: 0.55em;
		border-left: 0.4em solid $yellow;
	}
}
