/* header */
.header {
	background-color: $blue;
	margin-top: 2.5em;
}

.header-inner {
	z-index: 0;
	font-size: 2em;
	position: relative;
	max-width: 1170px;
	min-height: 2.5em;
	margin: 0 auto 3em;
	padding: 0 1.5em;
	&:after {
		content: "";
		display: block;
		clear: right;
	}
}

.header-logo {
	float: left;
	height: 4.5em;
	margin-top: -1em;
}

/* menu */
$menu-max-width: 1023px;

.menu-toggle {
	font-size: 1.25em;
	line-height: 2em;
	display: none;
	float: right;
	padding: 0 0.44em 0 0.68em;
	@media screen and (max-width: $menu-max-width) {
		display: block;
	}
}

.menu-toggle:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1.20em;
  height: 0.2em;
  margin-bottom: 0.24em;
  border-top: 0.6em double #fff;
  border-bottom: 0.2em solid #fff;
}

.menu,
.sub-menu {
	background-color: $blue;
	text-align: right;
	float: right;
	margin: 0;
	padding: 0;
	& li {
		display: inline-block;
		position: relative;
		&:hover ul {
			visibility: visible;
		}
	}
	& a {
		color: #fff;
		line-height: 1.5em;
		text-decoration: none;
		display: inline-block;
		padding: 0.5em 0.55em;
	}
	@media screen and (max-width: $menu-max-width) {
		z-index: -1;
		visibility: hidden;
		position: absolute;
		top: 2.5em;
		right: 1.5em;
		& li {
			display: block;
			border-top: 1px solid #fff;
		}
		& a {
			padding-left: 0.95em;
			display: block;
		}
		&.active, .active & {
			visibility: visible;
		}
	}
}

.sub-menu {
	visibility: hidden;
	float: none; /* overwriting */
	position: absolute;
	background-color: $light-blue;
	right: 0;
	& li {
		display: block;
		white-space: nowrap;
		border-top: 1px solid #fff;
	}
	& a {
		padding-left: 0.95em;
		display: block;
	}
	@media screen and (max-width: $menu-max-width) {
		position: static;
	}
}

@media screen and (min-width: $menu-max-width+1) {
	.menu > li {
		& > a:hover,
		&.current_page_item > a,
		&.current_page_parent > a {
			padding-bottom: 0.15em;
			border-bottom: 0.35em solid $yellow;
		}
	}
}

@media screen and (max-width: $menu-max-width) {
	.menu > li {
		& > a:hover,
		&.current_page_item > a,
		&.current_page_parent > a {
			padding-left: 0.55em;
			border-left: 0.4em solid $yellow;
		}
	}
}

.sub-menu li {
	& > a:hover,
	&.current_page_item > a {
		padding-left: 0.55em;
		border-left: 0.4em solid $yellow;
	}
}
