.post {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	max-width: 57em;
	padding: 0 1.5em;
	margin-bottom: 3em;
}

.post-image-wrapper {
	display: inline-block;
	vertical-align: top;
	margin: 0 1.5em 3em;
}

.post-image {
	display: block;
	width: 100%;
	max-width: 47em;
	border-bottom: $yellow solid 0.7em;
}

.post-header {
	padding-left: 1.4em;
	border-left: 0.7em solid $pink;
	word-wrap: break-word;
}

.post-title {
	margin: 0 0 0.5em;
	font-size: 2em;
	.class-new &:after {
		content: "NOWY";
		color: #fff;
		background-color: $yellow;
		font-size: 0.6em;
		font-weight: normal;
		display: inline-block;
		vertical-align: middle;
		padding: 0 0.4em;
		margin: 0 0 0.4em 0.5em;
	}
}

.post-detail {
	font-size: 1.6em;
	display: block;
}

.post-detail-value {
	font-weight: bold;
}

.post-detail-value-link {
	color: inherit;
	&:hover {
		color: $yellow;
	}
}

.post-content {
	font-size: 1.4em;
	p {
		margin: 1em 0 0;
	}
	iframe { // YT videos
		width: 100%;
	}
	a {
		color: inherit;
		&:hover {
			color: $yellow;
		}
	}
}

.post-footer {
    font-size: 1.2em;
    font-style: italic;
    text-align: right;
    margin-top: 0.8em;
}

.post-action {
	@extend .news-classes-title;
	font-size: 1.5em;
	text-decoration: none;
	display: block;
	max-width: 10em;
	margin-top: 0.8em;
}

.post-gallery {
	margin-top: 2.5em;
}

.post-gallery-item {
	display: inline-block;
	vertical-align: bottom;
	margin: 0 1.5em 3em;
	img {
		display: block;
	}
}
