.splash {
	z-index: 1;
	text-align: center;
	background: #fff no-repeat center;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.splash-content {
	display: inline-block;
	vertical-align: middle;
}

.splash-placeholder {
	@extend .splash-content;
	height: 80%;
}

.splash-logo {
	height: 9em;
}

.splash-text {
	color: #fff;
	font-size: 4em;
	margin: 0.5em 0 1em;
}

.splash-dismiss {
	color: #fff;
	background-color: $blue; // IE8 fallback
	background-color: $rgba-blue;
	font-size: 2.2em;
	text-decoration: none;
	padding: 0.7em 1.4em;
	&:hover, &:focus {
		background-color: $blue;
	}
}
