.splash {
	display: none;
	z-index: 1;
	text-align: center;
	background: $dark-grey no-repeat center;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	.splashy & {
		@media screen and (min-device-width: 1024px) {
			display: block;
		}
	}
}

.splash-content {
	display: inline-block;
	vertical-align: middle;
}

.splash-placeholder {
	@extend .splash-content;
	height: 70%;
}

.splash-logo {
	height: 11em;
}

.splash-text {
	color: #fff;
	font-size: 4em;
	font-weight: 300;
	margin: 0.4em 0 1em;
	text-shadow: 0.1em 0.1em 0.15em #898989;
}

.splash-dismiss {
	color: #fff;
	background-color: $blue; // IE8 fallback
	background-color: $rgba-blue;
	font-size: 2.2em;
	text-decoration: none;
	display: inline-block;
	padding: 0.7em 1.4em;
	&:hover, &:focus {
		background-color: $blue;
	}
}
