/* listing */
.teachers-item-title {
	font-size: 1.6em;
	line-height: 1.5em;
	text-align: center;
	background-color: $yellow;
	padding: 0.5em 0;
	margin: 0;
}

/* single */
.teacher-skills-rating {
	color: $yellow;
}
