@import "colors.scss";
@import "header.scss";
@import "footer.scss";
@import "post.scss";
@import "news.scss";
@import "teachers.scss";
@import "timetable.scss";
@import "contact.scss";
@import "package.scss";
@import "splash.scss";

body {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	color: $dark-grey;
	margin: 0;
}

iframe[src="about:blank"],
.screen-reader-text {
	display: none;
}

.content {
	box-sizing: border-box;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 1.5em;
	overflow: auto; // prevent margins collapsing
}

.page-title {
	font-size: 2em;
	margin: 0 0.75em 1.5em;
	padding-left: 0.7em;
	border-left: 0.35em solid $pink;
}

.page-message {
	font-size: 1.5em;
	padding: 0 1em;
	margin-bottom: 2em;
}
