@import "colors.scss";
@import "header.scss";
@import "footer.scss";
@import "news.scss";

body {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	margin: 0;
}

.menu-toggle, .screen-reader-text {
	display: none;
}

.content {
	box-sizing: border-box;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 1.5em;
}
