@import "colors.scss";
@import "header.scss";
@import "footer.scss";
@import "post.scss";
@import "news.scss";
@import "teachers.scss";
@import "timetable.scss";

body {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	color: $dark-grey;
	margin: 0;
}

.menu-toggle, .screen-reader-text {
	display: none;
}

.content {
	box-sizing: border-box;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 1.5em;
}

.page-title {
	font-size: 2em;
	margin: 0 0 1.5em 0.75em;
	padding-left: 0.7em;
	border-left: 0.35em solid $pink;
}
